/* 유태구 */

/* Hero Section */

/* // Hero Section */

/* Graduates Employment Status */
.review-section-title {
  text-align: center;
  margin-bottom: 72px;
}

.review-section-title h2 {
  font-size: 64px;
  font-weight: 800;
  color: #111827;
  margin-bottom: 20px;
}

.review-section-title p {
  font-size: 24px;
  color: #6b7280;
}

.employment-status {
  padding: var(--base-unit-x2);
}
.employment-status .heading-m {
  color: var(--dark--green);
}
.employment-status .body-mp {
  color: var(--deep--green);
}

.logo-carousel {
  width: 100%;
  padding: var(--base-unit-x2) 0;
  position: relative;
  overflow: hidden;
}
.mask-logo-carousel {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(to right, #ffffffff 5%, #ffffff00 30%, #ffffff00 70%, #ffffffff 95%);
  position: absolute;
}
/* //Graduates Employment Status */

/* //유태구 */

.est-content {
  padding: 81px 324px;
  text-align: center;
  max-width: 1920px;
  margin: 0 auto;
  position: relative;
}
.section-header {
  gap: 27px;
}

.section-header h2 {
  margin-bottom: 27px;
  font-size: var(--heading--m 30px);
}
.section-header p {
  font-size: var(--body--m 20px);
}
.section-header p span {
  color: rgba(255, 122, 107, 1);
}

.slider-container {
  display: flex;
  align-items: center;
  margin-top: 54px;
  gap: 24px;
}
.est-item {
  flex: 1;
  background: white;
  overflow: hidden;
  width: calc(25%);
}
.card-body h3 {
  padding: 20px 25px;
  word-break: keep-all;
}

.top-slogan {
  width: 100%;
  padding: 135px 0 108px;
  background: url(../image/top-slogan.jpg) no-repeat 0 0 / 100% 100%;
  color: var(--white);
  text-align: center;
}
.top-slogan h2 {
  display: block;
}
.top-slogan h2 span {
  color: var(--alyak-color);
}
