.top-slogan {
  width: 100%;
  padding: 135px 0 108px;
  background: url(../image/top-slogan.png) no-repeat 0 0 / 100% 100%;
  color: var(--white);
  text-align: center;
}
.top-slogan h2 {
  display: block;
}
.top-slogan h2 span {
  color: var(--alyak-color);
}
